*,*:before,*:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
 }
 :root{
     --color-primary: #ffe330;
     --color-secondary: #333;
     --shadow: rgba(0,0,0,.75);
 }
 
 /* ********** Menú Hamburguesa ********** */
 html{
    font-family: sans-serif;
    scroll-behavior: smooth;
 }
 body{
      color: var(--color-secondary);
 }
 .header{
    position: fixed;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-secondary);
    z-index: 997;
 }
 .header .title{
    text-align:center;
    padding: 1rem;
    position:sticky;
    top:10px;
    width: 100%;
    box-shadow: 0 2px 7px var(--shadow)
 }
 .panel{
    position: fixed;
    z-index: 998;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: var(--shadow);
	opacity: 0;
	visibility: hidden;
    transform: translateX(-100%);
    transition: all .3s ease;
 }
 .panel.is-open{
	 opacity: 1;
	 visibility: visible;
    transform: translateX(0%);
 }
 .nav-menu{
    list-style:none;
    height: 100vh;
 }
 .nav-menu .menu-link{
    text-decoration:none;
    color: var(--color-primary);
    display:block;
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    transition: all .3s;
    text-shadow: 0 0 4px;
 }
 .nav-menu .menu-link:hover{
    background: var(--color-primary);
    color: #000;
 }
 .nav-menu .menu-link:last-child(){
    margin-bottom: 5rem;
 }
 .hamburger{
    background: var(--color-primary);
    border-radius: 50%;
    padding: 0;
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    z-index: 999;
 }
 section{
    min-height: 100vh;
    padding-top: 5rem;
    text-align: center;
 }
 section .title{
    text-align: center;
    padding: 7rem 0 1.5rem;
 }
 
 /* ********** Reloj Digital y Alarma ********** */
.reloj-alarma{
    text-align: center;
}
.reloj-alarma button{
    padding: .4rem .5rem;
    border: 0;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .5s ease;
    font: 600 1rem sans-serif;
    box-shadow: 0 2px 7px var(--shadow);
}
.reloj-alarma .btn-reloj{
    background: var(--color-primary);
}
.reloj-alarma .btn-alarma{
    background: var(--color-secondary);
    color: var(--color-primary);
}
.reloj-alarma .btn-alarma:focus{
   transform: scale(1.1,1.1);
}
.hora{
    padding: 0 .5rem .5rem;
    font: 800 2rem cursive;
}

 /* ********** Atajo del teclado (shortcuts) ********** */
 .shortcuts{
     margin-top: 20rem;
     text-align: center;
 }
 .shortcuts p:nth-child(1){
     font: bold 1.5rem sans-serif;
     margin-bottom: 1.3rem;
 }
 .shortcuts p:nth-child(2){
    font: 600 1.2rem courier;
    color: var(--color-secondary);
 }
 .shortcuts span{
     margin: 0 .5rem;
     background: var(--color-primary);
     padding: .5rem;
     box-shadow: 0 0 7px 2px var(--shadow);
 }
 
  /* ********** Eventos del Teclado (movimientos y colisiones) ********** */
  .stage{
   background: var(--color-secondary);
   width: 90%;
   max-width: 1200px;
   height: 20rem;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.ball{
   width: 60px;
   height: 60px;
   background: var(--color-primary);
   border-radius: 50%;
}

 /* ********** Cuenta Regresiva ********** */
 #countdown{
   text-align: center;
   font: 600 2rem sans-serif;
}
#countdown span{
   background: var(--color-primary);
   color: var(--color-secondary);
   padding: .5rem 1rem;
   border: 2px solid var(--color-secondary);
   box-shadow: 0 2px 7px var(--shadow);
}
#countdown span:first-child{
   background: var(--color-secondary);
   color: var(--color-primary);
}
#countdown span:nth-child(2){
   border-right: none;
}
#countdown span:nth-child(3){
 border-right: none;
}
#countdown span:last-child{
 border-left: none;
}
.saludo{
 color: var(--color-secondary);
 background: var(--color-primary);
 padding: 2rem;
 width: 70%;
 max-width: 1200px;
 margin: auto;
 box-shadow: 0 2px 7px var(--shadow);
}

/* ********** ScrollTopButton ********** */
.scroll-top-btn{
   background: var(--color-primary);
   color: var(--color-secondary);
   width: 4rem;
   height: 4rem;
   z-index: 999;
   font-size: 1.5rem;
   border-radius: 50%;
   position: fixed;
   right: calc(4.25rem + 1vw);
   bottom: 1vh;
   outline: 0;
   border: 0;
   cursor: pointer;
   transition: all .3s ease;
}
.scroll-top-btn:hover{
   background: var(--color-secondary);
}
.hidden{
   visibility: hidden;
   opacity: 0;
}

/* ********** DarkThemeButton ********** */
.dark-theme-btn{
   background: var(--color-primary);
   color: var(--color-secondary);
   width: 4rem;
   height: 4rem;
   z-index: 999;
   font-size: 1.5rem;
   border-radius: 50%;
   position: fixed;
   left: calc(4.25rem + 1vw);
   bottom: 1vh;
   outline: 0;
   border: 0;
   cursor: pointer;
   transition: all .3s ease;
}
.dark-theme-btn:hover{
   background: var(--color-secondary);
}
.dark-mode{
   color: var(--color-primary);
   background: var(--color-secondary);
}
.yellow{
   background: var(--color-primary);
}
.dark{
   background: var(--color-secondary);
}

/* ********** Responsive Tester ********** */
.frm input,
.frm button{
   padding: .2rem 1.5rem;
   font: 400 1.2rem calibri;
}
.frm div{
   margin-bottom: .5rem;
}
.frm .btn{
   font-weight: 600;
   border: 0;
   background: var(--color-primary);
   color: var(--color-secondary);
   box-shadow: 0 2px 7px var(--shadow);
   cursor: pointer;
   transition: all .3s ease;
}
.frm .btn:focus{
   transform: scale(1.1,1.1);
}

 /* ********** Detección de la Conexión ********** */
 .online,
 .offline{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
 }
 .offline{
    background-color: #D93025;
 }
 
  /* ********** Filtro de Búsquedas ********** */
  .cards{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 2rem;
  }
  .card{
     background-color: var(--color-secondary);
     color: var(--color-primary);
     transition: all .1s ease-out;
  }
  .card img{
     width: 100%;
     height: auto;
  }
  .card figcaption{
     padding: 1rem;
  }
  .card-filter{
     padding: .5rem;
     font-size: 18px;
     margin-bottom: 1rem;
  }
  .filter{  /* esta clase va a discriminar los resultados q no coincidan con el buscador*/
     visibility: hidden;
     opacity: 0;
     order: 1;
  }
  
    /* ********** Responsive Slider ********** */
    .slider{
       position: relative;
       width: 80%;
       margin: 1rem auto;
       text-align: center;
    }
    .slider-slides{
       position: relative;
       height: 400px;
    }
    .slider-slide{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       visibility: hidden;
       transition: opacity 1s ease-in-out;
    }
    .slider-slide.active{
       opacity: 1;
       visibility: visible;
    }
    .slider-slide img{
       width: inherit;
       height: inherit;
       object-fit: cover; /* esto hace q la imagen se adapte al ancho de su contenedor, centrandola*/
       object-position: 50% 50%;   /* esto posiciona la imagen dentro del contenedor, el 1er valor es horizontal y el 2do vertical */
    }
    .slider a{
       display: block;
       width: 4rem;
       height: 4rem;
       border-radius: 50%;
       text-decoration: none;
       background-color: #fff;
       border: thin solid #000;
       color: #000;
       transition: all .3s ease-in-out;
    }
    .slider-btns{
       position: absolute;
       top: 50%;
       display: flex;
       justify-content: space-between;
       width: 100%;
       font-size: 3rem;
       font-weight: bold;
    }
    .slider a:hover{
       color: #4d4d4d;
    }
    
     /* ********** ScrollSpy (Scroll Espía) ********** */
     @media screen and (min-width:1024px){
        /* haremos un grid en el body para alinear el aside a la derecha */
        body{
           display: grid;
           grid-template-columns: 80% 20%; /*👈 hacemos dos columnas */
           grid-template-rows: 4.3rem auto; /*👈 hacemos dos filas */
           grid-template-areas: /*👈 con esta propiedad literalmente podemos dibujar el contexto */
            'header header' /* 👈aqui estamos diciendo en la primera fila vaya el header */
            'main panel'; /* 👈 aqui estamos diciendo q en la segunda fila y primera columna vaya main y tmb q en la segunda fila pero segunda columna vaya panel */
        }
		/*👇 aqui rellenamos las areas con los nombres puestos dentro de grid-template-areas */
		.header{
			grid-area: header; 
		}
		main{
			grid-area: main;
		}
		.panel{
			grid-area: panel;
			position: sticky;
			align-self: start;
			top: 4.3rem;
			opacity: 1;
			visibility: visible;
		   transform: translate(0,0);
		   background-color: var(--color-secondary);
		   overflow-y: auto;
		}
		.nav-menu .menu-link{
			font-size: 1rem;
			padding: .75rem;
			text-align: right;
			text-shadow: none;
		}
		.nav-menu .menu-link:nth-child(1) {
			margin-top: 2rem;
		}
      .menu-link.active{
         background: var(--color-primary);
         color: var(--color-secondary);
         text-shadow: 0 1px 1px #555;
      }
		.hamburger{
			display: none;
		}
		.scroll-top-btn{
			right: initial;
			left: calc(4.25rem + 6vw);
		}
     }
     
      /* ********** Formulario de Validación ********** */
      .contact-form{
         --form-ok-color: #4caf50;
         --form-error-color: #f44336;
         margin-left: auto;
         margin-right: auto;
         width: 80%;
      }
      .contact-form > *{
         padding: .5rem;
         margin: 1rem auto;
         display: block;
         width: 100%;
      }
      .contact-form textarea{
         resize: none;
      }
      .contact-form legend,
      .contact-form-response{
         font-size: 1.5rem;
         font-weight: bold;
         text-align: center;
      }
      .contact-form input,
      .contact-form textarea{
         font-size: 1rem;
         font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         outline: none;
      }
      .contact-form input[type='submit']{
         width: 50%;
         font-weight: bold;
         cursor: pointer;
      }
      .contact-form [required]:valid{
         border: thin solid var(--form-ok-color);
      }
      .contact-form [required]:invalid{
         border: thin solid var(--form-error-color);
      }
      .contact-form-error{
         margin-top: -1rem;
         font-size: 80%;
         background-color: var(--form-error-color);
         color: #fff;
         transition: all 800ms ease;
      }
      .contact-form-error.is-active{
         display: block;
         animation: show-message 1s 1 normal 0s ease both;
      }
      .none{
         display: none;
      }
      @keyframes show-message{
         0%{
            visibility: hidden;
            opacity: 0;
         }
         100%{
            visibility: visible;
            opacity: 1;
         }
      }